.body {
  margin: 0; /* Menghapus margin bawaan pada body */
  padding: 0; /* Menghapus padding bawaan pada body */
  background-color: black; /* Mengatur warna background menjadi hitam */
}

.signup-container {
  background-color: #252525;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh; /* Memastikan container mengisi seluruh tinggi viewport */
  margin: 0; /* Menghapus margin bawaan pada container */
}

.logo {
  width: 40px; /* Sesuaikan dengan kebutuhan */
  height: 27px; /* Sesuaikan dengan kebutuhan */
  margin-right: -40px;
  margin-top: 7%;
}

.signup-header {
  text-align: center;
  margin-right: -30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
}

.form-group {
  position: relative;
  margin-bottom: 0%;
}

.input-username,
.input-password {
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.icon-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 58px;
  margin-right: -50px;
  background-color: #5d51a8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.icon {
  width: 20px;
  height: 20px;
  color: white;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.forgot-password {
  color: white;
  cursor: pointer;
  margin-left: -20%;
}

.signup-button {
  width: 80%;
  padding: 15px;
  border: 1px solid rainbow;
  background-color: #0e101c;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: bold;
}
.signup-button {
  margin-left: 50px;
}

.signup-button:hover {
  background-color: #252525;
}

.last {
  text-align: center;
  margin-right: -30px;
  font-size: 15px;
}
